$default-color: rgba(17, 17, 17, 0.48);
$accent-color: #01a7fded;
$dark-color: #111;
$light-color: #fff;

$transition: all 0.5s;

:root {
	--roboto: 'Roboto', sans-serif;
	--roboto-condensed: 'Roboto Condensed', sans-serif;
	--default: #333333;
	--gray: #999999;
	--accent: #ba967d;
	--light: #ffffff;
	--transition: 0.5s;
}
